<div class="mt-10 bg-slate-400 w-80">
    <div><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/2048px-Angular_full_color_logo.svg.png" alt=""></div>
    <div class="p-6 bg-white">
        <h3 class="my-3 text-2xl">Angular</h3>
        <p class="text-slate-500">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, deserunt eum aperiam autem odio aut! Placeat numquam eveniet facere ea consequuntur modi deleniti animi nemo mollitia! Culpa facere dolorem quis nesciunt magni aliquid provident maxime tempora consequatur, quae minima fuga a labore nulla mollitia quod vitae, fugit laborum similique! Tenetur.</p>
    </div>
</div>